In [2]:
import pandas as pd

In [3]:
pd.read_csv("Salary.csv")

    YearsExperience    Salary
0               1.1   39343.0
1               1.3   46205.0
2               1.5   37731.0
3               2.0   43525.0
4               2.2   39891.0
5               2.9   56642.0
6               3.0   60150.0
7               3.2   54445.0
8               3.2   64445.0
9               3.7   57189.0
10              3.9   63218.0
11              4.0   55794.0
12              4.0   56957.0
13              4.1   57081.0
14              4.5   61111.0
15              4.9   67938.0
16              5.1   66029.0
17              5.3   83088.0
18              5.9   81363.0
19              6.0   93940.0
20              6.8   91738.0
21              7.1   98273.0
22              7.9  101302.0
23              8.2  113812.0
24              8.7  109431.0
25              9.0  105582.0
26              9.5  116969.0
27              9.6  112635.0
28             10.3  122391.0
29             10.5  121872.0

In [4]:
data =  pd.read_csv("Salary.csv")

In [5]:
data

    YearsExperience    Salary
0               1.1   39343.0
1               1.3   46205.0
2               1.5   37731.0
3               2.0   43525.0
4               2.2   39891.0
5               2.9   56642.0
6               3.0   60150.0
7               3.2   54445.0
8               3.2   64445.0
9               3.7   57189.0
10              3.9   63218.0
11              4.0   55794.0
12              4.0   56957.0
13              4.1   57081.0
14              4.5   61111.0
15              4.9   67938.0
16              5.1   66029.0
17              5.3   83088.0
18              5.9   81363.0
19              6.0   93940.0
20              6.8   91738.0
21              7.1   98273.0
22              7.9  101302.0
23              8.2  113812.0
24              8.7  109431.0
25              9.0  105582.0
26              9.5  116969.0
27              9.6  112635.0
28             10.3  122391.0
29             10.5  121872.0

In [8]:
independent = data[["YearsExperience"]]

In [9]:
independent

    YearsExperience
0               1.1
1               1.3
2               1.5
3               2.0
4               2.2
5               2.9
6               3.0
7               3.2
8               3.2
9               3.7
10              3.9
11              4.0
12              4.0
13              4.1
14              4.5
15              4.9
16              5.1
17              5.3
18              5.9
19              6.0
20              6.8
21              7.1
22              7.9
23              8.2
24              8.7
25              9.0
26              9.5
27              9.6
28             10.3
29             10.5

In [10]:
dependent = data[["Salary"]]

In [11]:
dependent

      Salary
0    39343.0
1    46205.0
2    37731.0
3    43525.0
4    39891.0
5    56642.0
6    60150.0
7    54445.0
8    64445.0
9    57189.0
10   63218.0
11   55794.0
12   56957.0
13   57081.0
14   61111.0
15   67938.0
16   66029.0
17   83088.0
18   81363.0
19   93940.0
20   91738.0
21   98273.0
22  101302.0
23  113812.0
24  109431.0
25  105582.0
26  116969.0
27  112635.0
28  122391.0
29  121872.0

In [12]:
from sklearn.model_selection import train_test_split

In [13]:
x_train,x_test,y_train,y_test = train_test_split(independent,dependent,test_size=0.40,random_state=0)

In [14]:
x_train

    YearsExperience
8               3.2
14              4.5
23              8.2
20              6.8
1               1.3
29             10.5
6               3.0
4               2.2
18              5.9
19              6.0
9               3.7
7               3.2
25              9.0
3               2.0
0               1.1
21              7.1
15              4.9
12              4.0

In [15]:
x_test

    YearsExperience
2               1.5
28             10.3
13              4.1
10              3.9
26              9.5
24              8.7
27              9.6
11              4.0
17              5.3
22              7.9
5               2.9
16              5.1

In [16]:
y_train

      Salary
8    64445.0
14   61111.0
23  113812.0
20   91738.0
1    46205.0
29  121872.0
6    60150.0
4    39891.0
18   81363.0
19   93940.0
9    57189.0
7    54445.0
25  105582.0
3    43525.0
0    39343.0
21   98273.0
15   67938.0
12   56957.0

In [17]:
y_test

      Salary
2    37731.0
28  122391.0
13   57081.0
10   63218.0
26  116969.0
24  109431.0
27  112635.0
11   55794.0
17   83088.0
22  101302.0
5    56642.0
16   66029.0

In [18]:
from sklearn.svm import SVR

In [38]:
Regressor = SVR(kernel = 'poly', gamma = 'scale' , C = 100 )

In [39]:
Regressor.fit(x_train,y_train)

C:\Users\roshi\anaconda3\Lib\site-packages\sklearn\utils\validation.py:1143: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

SVR(C=100, kernel='poly')

In [40]:
Regressor.n_support_

array([18])

In [41]:
Regressor.intercept_

array([54757.87151678])

In [42]:
y_predict = Regressor.predict(x_test)

In [43]:
y_predict

array([ 54993.1688457 , 130940.31428476,  59562.88698543,  58893.45736993,
       114532.10777908, 100667.20395759, 116439.65450995,  59219.80605043,
        65137.2375725 ,  89131.42996265,  56458.21716274,  64005.99773277])

In [44]:
from sklearn.metrics import r2_score

In [45]:
r_score = r2_score(y_test,y_predict)

In [46]:
r_score

0.8962210947633613

In [29]:
import pickle

In [30]:
filename = "Support_Vector_Machine.sav"

In [31]:
pickle.dump(Regressor,open(filename,'wb'))

In [32]:
loaded_model = pickle.load(open("Support_Vector_Machine.sav",'rb'))

In [33]:
years = int(input("Enter your overall Experience: "))

Enter your overall Experience:  7

In [34]:
result = loaded_model.predict([[years]])

C:\Users\roshi\anaconda3\Lib\site-packages\sklearn\base.py:439: UserWarning: X does not have valid feature names, but SVR was fitted with feature names
  warnings.warn(

In [35]:
result

array([62785.81633732])